<nav class="navbar navbar-expand-lg bg-warning " >
   <div class="container-fluid  ">
     <a class="navbar-brand " routerLink="home">ASM</a>
     
     <div class="collapse navbar-collapse navbar-expand-lg" id="navbarSupportedContent">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="#" routerLink="home">Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">About</a>
         </li>
         <li class="nav-item dropdown">
           <a class="nav-link " href="#">Policy </a>
         </li>
        
       </ul>
       <form class="d-flex" role="search">
         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success" type="submit">Search</button>
       </form>
       <div class="ms-2"> 
        <div *ngIf="user === null ">
        <button class="btn btn-primary" ><a routerLink="login" class="nav-link text-white " >Đăng nhập</a></button> 
      </div>
        <div *ngIf="user !== null ">
          <span *ngIf="user?.role === 0">{{"Xin chào: "+user.email}}</span>
          <span *ngIf="user?.role === 1">{{"Admin: "+user.email}}</span>
          <button  class="btn btn-primary">
           <a  class="nav-link text-white "   (click)="logOut()">Đăng xuất</a>
          </button>
           </div> 
       </div>
     
     </div>
     
   </div>
 </nav>
 <div class="container-fluid text-center" style="height: 100vh;">
   <div class="row g-0 text-center">
       <div class="col-3" >
           <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px; height: 100vh;">
               <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                
               </a>
               <hr>
               <ul class="nav nav-pills flex-column mb-auto list-group">
                 <li class="nav-item">
                   <a  class="nav-link "  roterLink="home">
                       <i class="bi bi-house-fill"></i>
                     Home
                   </a>
                 </li>
                 <li *ngIf="user?.role === 1 ">
                  <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Danh sách quản lý
                    </a>
                  
                    <ul class="dropdown-menu">
                      <li>
                        <a class="nav-link link-body-emphasis"  routerLink="project-list">
                          Project
                        </a>
                      </li>
                      <li>
                        <a  class="nav-link link-body-emphasis"  routerLink="task-list">
                        Task
                      </a></li>
                      <li>
                        <a  class="nav-link link-body-emphasis"  routerLink="employee-list">
                          Employee
                        </a>
                      </li>
                    </ul>
                  </div>
                 </li>
                
                 
                
               
               </ul>
               <hr>
               
             </div>
       </div>
       <div class="col-8 text-start ">
       <router-outlet>
        
       </router-outlet>
      </div>
   </div>
 </div>


