
<h2>Add Task</h2>
<form >
<div class="mb-3">
    <label for="name_task" class="form-label">Name Task</label>
    <input type="text" id="name_task" class="form-control" name="name_task" required>
  </div>
  <div class="mb-3">
    <label for="projectId" class="form-label">Project</label>
    <input type="text" id="projectId" class="form-control"  name="projectId" required>
  </div>
  <div class="mb-3">
    <label for="assignedTo" class="form-label">Employee</label>
    <input type="text" id="assignedTo" class="form-control"  name="assignedTo" required>
  </div>
  <div class="mb-3"> 
    <label for="status" class="form-label">Status</label>
    <input type="text" id="status" class="form-control" name="status" required>
  </div>
  
  <button type="submit" class="btn btn-primary">Thêm dự án</button>
</form>


